@model ML.SubPoliza
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2>SubPolizas</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h5 class="text-center">Seleccione el boton de "Agregar" para añadir una subpoliza, el boton de amarillo para actualizarla, y el boton rojo para eliminarla</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="text-right">@Html.ActionLink("+", "Form", "SubPoliza", htmlAttributes: new { @class = "btn btn-success" })</p>
        </div>
    </div>
    <br/>

    @if(Model.SubPolizas.Count > 0)
    {
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr class="text-center">
                            <td>Editar</td>
                            <td class = "form-group" style = "display: none;">IdSubPoliza</td>
                            <td>Nombre</td>
                            <td>Eliminar</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(ML.SubPoliza subpoliza in Model.SubPolizas)
                        {
                            <tr class="text-center">
                                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "SubPoliza", new { IdSubPoliza = subpoliza.IdSubPoliza })"></a></td>
                                <td class = "form-group" style = "display: none;">@subpoliza.IdSubPoliza</td>                                
                                <td>@subpoliza.Nombre</td>

                                <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "SubPoliza", new { IdSubPoliza = subpoliza.IdSubPoliza })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>  
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">
                    No se encontraron registros de SubPoliza!!!
                </div>
            </div>
        </div>
    }

</div>

