@model ML.Empresa
@{
    ViewData["Title"] = "CargaMasiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2>Empresas</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h7 class="text-center">Suba un archivo de excel con el botón "Examinar" y después oprima "Cargar" para comenzar la carga masiva de su archivo</h7>
        </div>
    </div>
    <br/>

    <div class = "align-content-center">
        @using(Html.BeginForm("CargaMasiva", "EmpresaCargaMasiva", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class = "col-md-4">
                    <input type="file" name="ArchivoExcel" onchange="readURL(this);" />
                </div>        
                <div class = "col-md-4">
                    <input type="submit" value="Cargar" class="btn btn-primary" formmethod="post">
                </div>
            </div>
            <br />
        }
    </div>

    @if(Model.Empresas.Count > 0)
    {
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr class="text-center">
                            <td class = "form-group" style = "display: none;">IdEmpresa</td>
                            <td>Nombre</td>
                            <td>Telefono</td>
                            <td>Email</td>
                            <td>Direccion Web</td>
                            <td>Logo</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(ML.Empresa empresa in Model.Empresas)
                        {
                            <tr class="text-center">
                                <td class = "form-group" style = "display: none;">@empresa.IdEmpresa</td>                                
                                <td>@empresa.Nombre</td>
                                <td>@empresa.Telefono</td>
                                <td>@empresa.Email</td>
                                <td>@empresa.DireccionWeb</td>                               
                                @if (empresa.Logo != null)
                                {
                                    <td><img src="data:image/jpeg;base64, @empresa.Logo" style=" height:100px; width: 100px;" /></td>
                                }
                                else
                                {
                                    <td><img src="~/img/NoImage.jpg" style=" height:80px; width:100px;" /></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>  
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">
                    No se encontraron registros de Empresas!!!
                </div>
            </div>
        </div>
    }

</div>

