@model ML.EmpleadoDependiente
@{
    ViewData["Title"] = "DependientesAsignados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <h2>Empleado-Dependientes</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h6 class="text-center">Selecione el boton "+" para añadir un Dependiente al empleado </h6>
        </div>
    </div>
    <br />

    <div class = "row">
        <div class = "col-md-12">
            <p class="text-right">@Html.ActionLink("+", "Form", "EmpleadoDependiente", htmlAttributes: new { @class = "btn btn-success" })</p>
        </div>
    </div>

    @if(Model.Dependiente.Dependientes.Count > 0)
    {
        <div class = "row">
            <div class = "col-md-12">
                <h4>Empleado</h4>
                <hr />
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-4">
                @Html.LabelFor(model => model.Empleado.Nombre)
                @Html.TextBoxFor(model => model.Empleado.Nombre, new { @class = "form-control", disabled = "true", @id = "txt" }) 
            </div>
            <div class = "col-md-4">
                @Html.LabelFor(model => model.Empleado.ApellidoPaterno)
                @Html.TextBoxFor(model => model.Empleado.ApellidoPaterno, new { @class = "form-control", disabled = "true" }) 
            </div>
            <div class = "col-md-4">
                @Html.LabelFor(model => model.Empleado.ApellidoPaterno)
                @Html.TextBoxFor(model => model.Empleado.ApellidoMaterno, new { @class = "form-control", disabled = "true" }) 
            </div>
        </div>
        <br/>

        <div class = "row">
            <div class = "col-md-12">
                <table class = "table table-bordered table-responsive">
                    <thead>
                        <tr class = "text-center">
                            <td class = "form-group" style = "display: none;">IdDependiente</td>
                            <td class = "form-group" style = "display: none;">IdEmpleado</td>
                            <td>Nombre Completo</td>
                            <td>Fecha de Nacimiento</td>
                            <td>Estado Civil</td>
                            <td>Genero</td>
                            <td>Telefono</td>
                            <td>RFC</td>
                            <td class = "form-group" style = "display: none;">IdDependienteTipo</td>
                            <td>Tipo de Dependiente</td>
                            <td>Eliminar</td>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach(ML.Dependiente dependiente in Model.Dependiente.Dependientes)
                        {
                            <tr class = "text-center">
                            <td class = "form-group" style = "display: none;">@dependiente.IdDependiente</td>
                            <td class = "form-group" style = "display: none;">@dependiente.Empleado.IdEmpleado</td>
                            <td>@dependiente.Nombre @dependiente.ApellidoPaterno @dependiente.ApellidoMaterno</td>                           
                            <td>@dependiente.FechaNacimiento</td> 
                            <td>@dependiente.EstadoCivil</td>
                            <td>@dependiente.Genero</td>
                            <td>@dependiente.Telefono</td>
                            <td>@dependiente.RFC</td>
                            <td class = "form-group" style = "display: none;">@dependiente.DependienteTipo.IdDependienteTipo</td>
                            <td>@dependiente.DependienteTipo.Nombre</td>
                            <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "EmpleadoDependiente", new { IdDependiente = dependiente.IdDependiente })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-xl-12">
                <div class="alert alert-danger" role="alert">
                    No se encontraron registros de dependientes!!!
                </div>
            </div>
        </div>
    }


</div>


